:root {
  --heading-font: "Agbalumo", sans-serif;
  --second-font: "Fugaz One", sans-serif;
  --color-one: #f5cab8;
  --color-two: #fff8f0;
  --color-three: #e38ca4;
  --color-four: #cc8902;
}
/* Navigation */
h1 {
  font-family: var(--heading-font);
  color: #cc8902;
  line-height: 50px;
  font-size: 60px;
}

ul {
  justify-content: space-evenly;
  color: var(--color-four);
}
li {
  font-family: var(--second-font);
  line-height: 70px;
}
a {
  text-decoration: none;
  color: var(--color-four) !important;
  cursor: pointer;
}
.nav-link:hover {
  color: #6e4b03 !important;
}
/* Body */
body {
  background-color: var(--color-two);
}

.self {
  width: 400px;
  height: auto;
}
.btn-design {
  border-radius: 10px;
  color: var(--color-two);
  background-color: var(--color-four);
  border-color: var(--color-four);
  font-size: 18px;
  padding: 6px 10px;
  font-weight: 600px;
}

@media (max-width: 960px) {
  .self {
    width: 300px;
    height: auto;
  }
  .skill {
    width: 20px;
    height: auto;
    display: flex;
  }
}
