:root {
  --heading-font: "Agbalumo", sans-serif;
  --second-font: "Fugaz One", sans-serif;
  --third-font: "Nunito", sans-serif;
  --color-one: #f5cab8;
  --color-two: #fff8f0;
  --color-three: #fe768d;
  --color-four: #6c264b;
  --color-five: #adb2d4;
}

/* Banner */
.banner {
  background-color: var(--color-one);
  overflow: hidden !important;
  position: relative;
}
span {
  margin-left: 10px;
  margin-right: 10px;
}
.banner:before,
.banner:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.banner:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--color-one)
  );
}
.banner:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--color-one)
  );
}
.banner:hover .banner-slide {
  animation-play-state: paused;
}
.banner-slide {
  white-space: nowrap;
  animation: 35s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Navigation */
.nav {
  max-width: 100%;
}

ul {
  justify-content: space-evenly;
  color: var(--color-four);
}
li {
  font-family: var(--third-font) !important;
  line-height: 70px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: var(--color-four) !important;
  cursor: pointer;
}
.nav-link:hover {
  color: var(--color-five) !important;
}

/* Nav Small */
.navbar-brand {
  font-family: var(--heading-font);
  font-size: 30px;
}
.navbar,
.navbar-toggler {
  background-color: var(--color-two) !important;
}
.navbar-toggler {
  border: none;
  color: var(--color-two) !important;
}

/* Featured Content */
img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
h1 {
  font-family: var(--heading-font);
  color: var(--color-three);
  font-size: 60px;
}
h2 {
  font-family: var(--third-font);
  color: var(--color-four);
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.project {
  background-color: var(--color-one);
  margin: 50px 95px;
  padding: 20px 20px;
  border-radius: 10px;
}
button {
  background-color: var(--color-five);
  color: var(--color-four);
  font-family: var(--third-font);
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  display: block;
  margin: 0 auto;
}

/* Responsive for Phones */
@media (max-width: 960px) {
  .banner:before,
  .banner:after {
    width: 50px;
  }
  h1 {
    font-size: 50px;
    text-align: center;
  }
  h2 {
    font-size: 20px;
  }
  .project {
    margin: 25px;
  }
}

/* Body */
body {
  background-color: var(--color-two);
}
.custom-shape-divider-bottom-1699139842 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1699139842 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1699139842 .shape-fill {
  fill: #f5cab8;
}
